@import "tailwindcss";

:root {
  --warna-krem-hangat: #F4EBDD;
  --warna-putih-gading: #FAF7F1;
  --warna-navy: #102A43;
  --warna-tosca: #087477;
  --warna-emas: #C7A25A;
  --warna-charcoal: #282B2F;
  --warna-latar: var(--warna-krem-hangat);
  --warna-garis: #DED3C2;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--warna-latar);
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--warna-charcoal);
  background: var(--warna-latar);
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: white;
  background: var(--warna-tosca);
}

.gulir-tanpa-bilah {
  scrollbar-width: none;
}

.gulir-tanpa-bilah::-webkit-scrollbar {
  display: none;
}
